.d-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.text-ellipsis-grow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-fixed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px; /* Limit the badge width */
}
