<div class="d-flex flex-column gap-3 my-3">

  <h2 class="display-7 mb-4">
    Categorías
  </h2>

  <div class="d-flex justify-content-between gap-3">
    <form class="d-flex gap-3" [formGroup]="filterForm">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar categoría"
        aria-label="Buscar categoría"
        formControlName="name"
      />
    </form>
    <button type="button" class="btn btn-primary" (click)="addCategory()">
      <i class="bi bi-plus-lg"></i>
      <span class="ms-2 d-none d-sm-inline">Agregar</span>
    </button>
  </div>

  <ul class="d-flex flex-column list-unstyled">
    @for (item of categories$ | async; track $index; let isFirst = $first; let isLast = $last) {
      <li>
        <app-list-item [isFirst]="isFirst" [isLast]="isLast">
          <div class="d-flex flex-column justify-content-between align-items-center gap-3">
            <div class="d-flex justify-content-between gap-4 w-100">
              <div class="text-truncate">{{ item.name }}</div>
              <div class="text-muted">{{ item.createdAt | date: 'dd/MM/yyyy' }}</div>
            </div>
            <div class="d-flex gap-3">
              <button type="button" class="btn btn-outline-primary" (click)="viewCategory(item.id)">
                <i class="bi bi-eye"></i>
              </button>
              <button type="button" class="btn btn-outline-secondary" (click)="editCategory(item.id)">
                <i class="bi bi-pencil"></i>
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="confirmDeleteCategory(item.id)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </app-list-item>
      </li>
    }
    @empty {
      <li>
        <app-list-item>
          <div class="d-flex justify-content-center align-items-center">
           <span class="text-muted">No se encontraron categorías</span>
          </div>
        </app-list-item>
      </li>
    }
  </ul>

</div>

<ng-template #confirmDeletion let-activeModal>
  <app-confirmation-dialog
    [activeModal]="activeModal"
    title="Eliminar categoría"
    (cancel)="cancelSelection()"
    (confirm)="deleteCategory()"
    [danger]="true"
  >
    ¿Está seguro que desea eliminar la categoría?
  </app-confirmation-dialog>
</ng-template>
