<div class="d-flex flex-column gap-3 my-3">

  <h2 class="display-7 mb-4">
    Detalle de categoría
  </h2>

  @if (category) {
    <div class="d-flex justify-content-end gap-3">
      <button type="button" class="btn btn-outline-primary" (click)="editCategory()">
        <i class="bi bi-pencil"></i>
        <span class="ms-2">Editar</span>
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="confirmDeleteCategory()">
        <i class="bi bi-trash"></i>
        <span class="ms-2">Eliminar</span>
      </button>
    </div>

    <div class="d-flex flex-column gap-4">
      <div class="d-flex flex-column gap-2 mb-3">
        <div class="fw-semibold text-uppercase text-light-adaptative">Nombre</div>
        <div>{{ category.name }}</div>
      </div>
      <div class="d-flex flex-column gap-2">
        <div class="fw-semibold text-uppercase">Descripción</div>
        <div>{{ category.description }}</div>
      </div>
    </div>
  }
  @else {
    <div class="d-flex justify-content-center align-items-center">
      <span class="text-muted">No se encontró la categoría</span>
    </div>
  }

</div>

<ng-template #confirmDeletion let-activeModal>
  <app-confirmation-dialog
    [activeModal]="activeModal"
    title="Eliminar categoría"
    (confirm)="deleteCategory()"
    [danger]="true"
  >
    ¿Está seguro que desea eliminar la categoría?
  </app-confirmation-dialog>
</ng-template>
